*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 978px;
    margin: auto;
}
.logo{
    background-color: #272f54;
    padding: 10px;
    text-align: center;
}
.menu{
    background-color: #ad4601;
    padding: 8px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.menu ul li  {
    display: inline;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    margin-left: 40px;
}
.menu li  :hover{
    background-color: bisque;
    text-decoration: underline;
    color: red;
}
.banner{
    margin-bottom: 10px;
}
.seach{
    background-color: #ad4601;
    padding: 10px;
    margin-bottom: 10px;
}
.put{
    width: 757px;
    height: 26px;
    margin-left: 20px;
    padding-left: 20px;
}
.seachh{
    width: 128px;
    height: 26px;
    background-color: #272f54;
    color: white;
    border:  1px solid white;
    margin-left: 20px;
}

